html, body {
  width: 100px;
}

.hidden, .container {
  display: none;
}

.container-active {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
}

.task:first-child {
  margin: 5px;
}

.task, #add_btn {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  padding: 10px;
  margin: 0 5px 5px 5px;
}

#add_btn {
  text-align: center;
}

.task {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: stretch;
}

.task-content {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
}

.task-actions {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
}

.action {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.status {
  float: right;
  border-radius: 10px;
  background-color: rgb(206, 206, 206);
}

.duration {
  color: gray;
  font-size: 5em;
}

.link_back {
  color: blue;
}

.link_back:hover {
  color: rgb(0, 110, 255);
  font-size: 5em;
}